<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56519961466-l2hls3vcgcn3oigmnhivq9fvb86j4ric.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56519961466-l2hls3vcgcn3oigmnhivq9fvb86j4ric</string>
	<key>API_KEY</key>
	<string>AIzaSyC3N8NW4ALKvG_D-i_Ho0sjmFGwT1LDjv4</string>
	<key>GCM_SENDER_ID</key>
	<string>56519961466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hamidyeWaterExample.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hamidye-water-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hamidye-water-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56519961466:ios:0c7b6ab87a0ca49d5a84c3</string>
</dict>
</plist>